body {
    background-color: #f5efdf;
    font-family: "Noto Serif Telugu", serif;
    font-weight: 400;
    font-style: normal;
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    color: #2e2b23;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.btn {
  text-decoration: none;
  padding: 0.5rem;
  border: 1px solid #333333;
}
