body {
    background-color: #f5efdf;
    font-family: Roboto, sans-serif;
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    color: #2e2b23;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}
